* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.header {
  background-color: #F9F3ED;
  width:100%;
  height: 580px;
  margin-top: 0px;
  padding-top: 0px;
  overflow: hidden;
}

.header-container {
  width: 1024px;
  margin:0 auto;
}

.left-cloud {
    background-image: url(/images/../assets/cloud-1.svg);
    width: 294px;
    height: 97px;
    margin-top: 100px;
}

.right-cloud {
  background-image: url(/images/../assets/cloud-3.svg);
  width: 328px;
  height: 87px;
  margin-top: -35px;
  float: right;
}

.deets-logo {
  background-image: url(/images/../assets/deets-logo.svg);
  width: 120px;
  height: 142px;
  margin: 0 auto;
}

h1 {
  font-family: Circular-Bold;
  font-size: 39px;
  color: #3A3D3E;
  letter-spacing: 1.24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

h2 {
  font-family: Circular-Medium;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
}

h3 {
  font-family: Circular-Medium;
  font-size: 32px;
  color: #4B5254;
  letter-spacing: 0.47px;
}

.sun {
  background-image: url(/images/../assets/sun.svg);
  width:252px;
  height:145px;
  float:right;
  margin-right:120px;
  margin-top:-120px;
}

.six-pm, .seven-pm, .eight-pm, .nine-pm {
  width: 100%;
  height: 37px;
  z-index: 5;
}

.six-pm {
  background: #FFB931;
}

.seven-pm {
  background: #FF5334;
}

.eight-pm {
  background: #FF003D;
}

.nine-pm {
  background: #F20068;
}

.sect-wrapper {
  width: 1140px;
  margin: 0 auto;
}

.sect-wrapper-list {
  width: 410px;
  margin: 0 auto;
}

section.sect-two {
  width: 100%;
  height: 500px;
  background: #850065;
  overflow: hidden;
}

.sect-two-heading {
  width:35%;
  padding-top: 200px;
  margin-left: 100px;
}

.photo-grid {
  width: 600px;
  float: right;
  margin-top: -170px;
}

.grid-one {
  background-image: url(/images/../assets/deets-grid-one.png);
  width: 199px;
  height: 294px;
  float: left;
  border-radius: 4px;
}

.grid-two {
  background-image: url(/images/../assets/deets-grid-two.png);
  width: 342px;
  height: 140px;
  float: left;
  margin-left: 14px;
  margin-bottom: 14px;
  border-radius: 4px;
}

.grid-three {
  background-image: url(/images/../assets/deets-grid-three.png);
  width: 164px;
  height: 140px;
  float: left;
  margin-left: 14px;
  border-radius: 4px;
}

.grid-four {
  background-image: url(/images/../assets/deets-grid-four.png);
  width: 164px;
  height: 140px;
  float: left;
  margin-left: 14px;
  border-radius: 4px;
}

section.sect-three {
  width: 100%;
  height: 500px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 100px;
}

.sect-three h3 {
  text-align:center;
  margin-top: 100px;
}

.sect-three ul {
  width: 100%;
  height: 300px;
  float: left;
}

ul.list-two {
  margin-left:300px;
  margin-top:-300px;
}

.sect-three ul li {
  list-style-type: none;
  margin-top: 14px;
  font-family: Circular-Medium;
  font-size: 14px;
  color: #3A3D3E;
  letter-spacing: 0.47px;
}

section.sect-four {
  width: 100%;
  height: 500px;
  background: #000785;
  overflow: hidden;
}




















@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .grid-one {
    background-image: url(/images/../assets/deets-grid-one@2x.png);
    background-size: 199px 294px;
  }

  .grid-two {
    background-image: url(/images/../assets/deets-grid-two@2x.png);
    background-size: 342px 140px;
  }

  .grid-three {
    background-image: url(/images/../assets/deets-grid-three@2x.png);
    background-size: 164px 140px;
  }

  .grid-four {
    background-image: url(/images/../assets/deets-grid-four@2x.png);
    background-size: 164px 140px;
  }

}
