!!!
%html
  %body
    .header
      .container
        %svg{:preserveaspectratio => "xMinYMin meet", :viewbox => "0 0 615 615"}
          %defs
            %lineargradient#MyGradient
              %stop{:offset => "5%", "stop-color" => "#3E61FF"}
              %stop{:offset => "95%", "stop-color" => "#20DCF6"}
          %path{:d => "M0,225 C275,250 425,215 615,225 L615,00 L0,0 Z", :fill => "url(#MyGradient)", :style => "stroke: none;"}
      .center-logo
        .logo.animated.fadeInDown
      .center-ticket
        .ticket.animated.fadeInUp
          %a.btn-ghost.btn-reg{:href => "#tickets"} Get Your Ticket
    .content
      %section.intro
        .wrapper
          .anchor-icon.animated.fadeIn
          .intro-text.animated.fadeIn
            %h3 Hello Sailor!
            .intro-paragraph
              %p Get away from the busyness of life for a little while and enjoy life on the river. Prepare yourself for a long weekend of good food, adventure & fun!
              %p This is your opportunity to take to the river and let your hair down. Ahoy is an annual event that takes place aboard the houseboats of the hawkesbury river.
          .intro-video.animated.fadeIn
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "275", :src => "https://www.youtube.com/embed/986ONovL2e0", :width => "449"}
      %section.details
        .wrapper
          .heading
            %h3 Details
          .dates
            .dates-icon
            %h6 Dates:
            %p 2nd - 4th December
          .location
            .location-icon
            %h6 Location:
            %p Hawkesbury River*
            %h5 *Boarding from Brooklyn
          .crew
            .crew-icon
            %h6 Crew:
            %p 34 People
      %section.whats-on
        .wrapper
          .heading
            %h3 What's on this year?
          %ul.whats-on-items
            %li.item
              %h6 Teams
              %p Introducing Teams. This year you'll be competing against your boat rivals. With three boats in the 24ahoy fleet, your team will face-off with your rivals for the glory of being crowned champions.
            %li.item
              %h6 The Arena
              %p The arena is a 5 metre inflatable trampoline. Enter the arena and win points for your team by competing in different events. The Arena King will be crowned by the end of the weekend.
            %li.item
              %h6 Fully Catered
              %p Forget about food for a few days - it's all taken care of. The Ahoy menu will be released soon, but rest assured we'll have everything onboard to keep your tastebuds satisfied.
            %li.item
              %h6 Return of the swan
              %p Inflatables er'where. The swan will be making his comeback with some new friends. We’ll be rafting up on the water, so bring any pool toys or inflatable animals you might own.
      %section.tickets.ruby#tickets
        .wrapper
          .heading
            %h3 Tickets
          .ticket-types
            .day-pass.animated.fadeIn
              %h6 Day Pass
              %h1 $65
              %ul.course-nav-list
                - @courses.each do |course|
                  %li
                    = link_to new_registration_path(course_id: course.id), id: "tickets" do
                      .course-name

                      %button.tickets.btn-ghost(data-href="?course_id=1#tickets") Register

            .multi-day.animated.fadeIn
              %h6 Multi-day
              %h1 $110
              %ul.course-nav-list
                - @courses.each do |course|
                  %li
                    = link_to new_registration_path(course_id: course.id), class: "ruby" do
                      .course-name

                      %button.tickets.btn-ghost(data-href="?course_id=3#tickets") Register


            .all-inclusive.animated.fadeIn
              %h6 Full Time
              %h1 $199
              %ul.course-nav-list
                - @courses.each do |course|
                  %li
                    = link_to new_registration_path(course_id: course.id), class: "ruby" do
                      .course-name

                      %button.tickets.btn-ghost(data-href="?course_id=2#tickets") Register


      %section.footer
        .wrapper
          %span(id="copyright")(c) 2016
          .ahoy-footer
