!!!
%html
  %body
    .header
      .container
        .inner-wrapper
          .cloud-1
          .cloud-2
          .center-logo
            .logo.animated.fadeInDown
          .center-ticket
            .ticket.animated.fadeInUp
              %a.btn-ghost.btn-reg{:href => "#tickets"} Get Your Ticket
        .ocean.ocean-one
        .ocean.ocean-two
        .ocean.ocean-three
        .ocean.ocean-four
    .content
      %section.intro
        .wrapper
          .anchor-icon.animated.fadeIn
          .intro-text.animated.fadeIn
            %h3 Hello Sailor!
            .intro-paragraph
              %p For 3 of the greatest days of the year, forget about your responsibilities. Enjoy some time on the river with good food, adventure & fun!
              %p This is your opportunity to let your hair down. Ahoy is an annual event that takes place aboard the houseboats of the hawkesbury river.
          .intro-video.animated.fadeIn
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "275", :src => "https://www.youtube.com/embed/986ONovL2e0", :width => "449"}
      %section.details
        .wrapper
          .heading
            %h3 Details
          .dates
            .dates-icon
            %h6 Dates:
            %p 2nd - 4th December
          .location
            .location-icon
            %h6 Location:
            %p Hawkesbury River*
            %h5 *Boarding from Brooklyn
          .crew
            .crew-icon
            %h6 Crew:
            %p 34 People
      %section.whats-on
        .wrapper
          .heading
            %h3 What's on this year?
          %ul.whats-on-items
            %li.item
              %h6 Teams
              %p Introducing Teams. This year you'll be competing against your boat rivals. With three boats in the 24ahoy fleet, your team will face-off with your rivals for the glory of being crowned champions.
            %li.item
              %h6 The Arena
              %p The arena is a 5 metre inflatable trampoline. Enter the arena and win points for your team by competing in different events. The Arena King will be crowned by the end of the weekend.
            %li.item
              %h6 Fully Catered
              %p Food is sorted - the Ahoy menu will be released soon, but rest assured we'll have everything onboard to keep your tastebuds satisfied. Breakfast / Lunch / Dinner are all provided.
            %li.item
              %h6 Return of the swan
              %p Inflatables er'where. The swan will be making his comeback with some new friends. We'll do an inflatable raft up on the water, so bring any pool toys or inflatable animals you might own.

      %section.tickets.ruby#tickets
        .wrapper
          .heading
            %h3 Tickets
          .ticket-types
            .multi-day.animated.fadeIn
              %h6 Earlybird
              %h1 $229
              %ul.course-nav-list
              %button.tickets.btn-ticket(data-href="?course_id=3") Register
            .all-inclusive.animated.fadeIn
              %h6 Full Time
              %h1 $249
              %ul.course-nav-list
              %button.tickets.btn-ticket(data-href="?course_id=2") Register

      %section.footer
        .wrapper
          %span(id="copyright")(c) 2016
          .ahoy-footer
