!!!
%html
  %body
    .header
      .container
        .inner-wrapper
          .cloud-1
          .cloud-2
          .center-logo
            .logo.animated.fadeInDown
          .center-ticket
            .ticket.animated.fadeInUp
              %a.btn-ghost.btn-reg{:href => "#tickets"} Get Your Ticket
        .ocean.ocean-one
        .ocean.ocean-two
        .ocean.ocean-three
        .ocean.ocean-four
    .content
      %section.intro
        .wrapper
          .intro-text
            %h1 Welcome to summer
            %h3 Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet
      .video

      %section.details
        .wrapper
          %h2 The details
          .detail
            .detail-image.detail-image-one
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit
          .detail
            .detail-image.detail-image-two
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit
          .detail
            .detail-image.detail-image-three
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit


      %section.the-team
        .wrapper
          %h2 The team
          .team-member.sam
          .team-member.sarah
          .team-member.emilee
          .team-member.gus
          .team-member.liz
          .team-member.jonnie
          .team-member.elvis
          .team-member.billy




      %section.tickets.ruby#tickets
        .wrapper
          .heading
            %h3 Tickets
          .ticket-types
            .multi-day.animated.fadeIn
              %h6 Earlybird
              %h1 $229
              %ul.course-nav-list
              %button.tickets.btn-ticket(data-href="?course_id=3") Register
            .all-inclusive.animated.fadeIn
              %h6 Full Time
              %h1 $249
              %ul.course-nav-list
              %button.tickets.btn-ticket(data-href="?course_id=2") Register

      %section.footer
        .wrapper
          %span(id="copyright")(c) 2016
          .ahoy-footer
