!!!
%html
  %body
    .header
      .container
        .inner-wrapper
          .cloud-1
          .cloud-2
          .center-logo
            .logo.animated.fadeInDown
          .center-ticket
            .ticket.animated.fadeInUp
              %a.btn-ghost.btn-reg{:href => "#tickets"} Get Your Ticket
        .ocean.ocean-one
        .ocean.ocean-two
        .ocean.ocean-three
        .ocean.ocean-four
    .content
      %section.intro
        .wrapper
          .intro-text
            %h1 Welcome to summer
            %h4.intro-pg Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet
      .video

      %section.details
        .wrapper
          %h2 The details
          .detail
            .detail-image.detail-image-one
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit
          .detail
            .detail-image.detail-image-two
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit
          .detail
            .detail-image.detail-image-three
            %p Lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit amet lorem ipsum dolor sit amet consectetur adipscing dolor lorem sit


      %section.the-team
        .wrapper
          %h2 The team
          .team-member.sam
            %h5 Sam Perryman
          .team-member.sarah
            %h5 Sarah Schaefer
          .team-member.elvis
            %h5 Elvis Mousa
          .team-member.gus
            %h5 Gus Yates
          .team-member.liz
            %h5 Liz Farrell
          .team-member.jonnie
            %h5 Jonnie Farrell
          .team-member.emilee
            %h5 Emilee Mercedal
          .team-member.billy
            %h5 Billy Pasco




      %section.tickets.ruby#tickets
        .wrapper
          .heading#contact
            %h2 Tickets
          .ticket-types
            .earlybird.animated.fadeIn
              %h6 Earlybird
              %h1 $229
              %ul.course-nav-list
                %li 3 days, 2 nights
                %li All meals
                %li AHOY merch pack
              .btn-center
                %button.tickets.btn-ticket(data-href="?course_id=3") Register
            .full-time.animated.fadeIn
              %h6 Full Time
              %h1 $249
              %ul.course-nav-list
                %li 3 days, 2 nights
                %li All meals
                %li AHOY merch pack
              .btn-center
                %button.tickets.btn-ticket(data-href="?course_id=2") Register

      %section.footer
        .wrapper
          %span(id="copyright")< &#169; 2017
          .ahoy-footer
