/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/../assets/stylesheets, vendor/../assets/stylesheets,
* or vendor/../assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'circular-300', arial, sans-serif;
}

// Font definitions
@font-face {
  font-family: 'circular-300';
  src: url('lineto-circular-book.ttf') format('truetype')
}

@font-face {
  font-family: 'circular-500';
  src: url('lineto-circular-medium.ttf') format('truetype')
}

@font-face {
  font-family: 'circular-700';
  src: url('lineto-circular-bold.ttf') format('truetype')
}

@font-face {
  font-family: 'circular-900';
  src: url('lineto-circular-black.ttf') format('truetype')
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: 'circular-300', arial, sans-serif;
}

h1 {
  font-family: 'circular-300', arial, sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
}

h2 {
font-family: 'circular-300', arial, sans-serif;
font-size: 32px;
color: #4B5254;
letter-spacing: 0.47px;}

h3 {
  font-family: 'circular-300', arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.23px;
}

h4 {
  font-family: 'circular-300', arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.23px;
  font-weight: 300;
}

h5 {
  font-size: 10px;
  color: #3E4041;
  letter-spacing: .4px;
  font-family: 'circular-300', arial, sans-serif;
  text-align: center;
  margin-top: -18px;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #3E4041;
  letter-spacing: .4px;
  font-family: 'circular-300', arial, sans-serif;
}

p {
  font-size: 18px;
  color: #7F878A;
  font-weight: 300;
  line-height: 140%;
  margin-top: 5px;
}

a {
  font-size: 16px;
  text-decoration: none;
  // color: #fff;
}

.super-small {
  font-size: 38px;
  vertical-align: top;
}

.btn-ghost {
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'circular-300';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-image: linear-gradient(-180deg, #850065 0%, #7B005D 99%);
  border-radius: 60px;
}

.btn-ticket {
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'circular-300';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-image: linear-gradient(-180deg, #850065 0%, #7B005D 99%);
  border-radius: 60px;
  border: none;
}

.btn-disabled {
  padding: 14px 30px;
  text-transform: uppercase;
  font-family: 'circular-300';
  font-size: 12px;
  color: #EAEEEF;
  letter-spacing: .46px;
  background: #CED7DA;
  border-radius: 60px;
  border: none;
  margin-top: 20px;
}


// Header
.header {
  height: 630px;
}

.header svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  height: 600px;
  background-color: #F9F3ED;
}

.dolphin {
  width:48px;
  height:60px;
  background-image: url(image-path('../assets/dolphin.svg'));
  float: right;
  margin-top: 150px;
}

.ocean {
  width: 100%;
  height: 37px;
}

.ocean-one {
  background-color: #31CFFF;
}

.ocean-two {
  background-color: #34A9FF;
}

.ocean-three {
  background-color: #006BFF;
}

.ocean-four {
  background-color: #003BF2;
}

.inner-wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 550px;
}

.cloud-1 {
  background-image: url(image-path('../assets/cloud-1.svg'));
  width: 294px;
  height: 97px;
  margin-top: 100px;
}

.cloud-2 {
  background-image: url(image-path('../assets/cloud-2.svg'));
  width: 357px;
  height: 157px;
  margin-top: -90px;
  float: right;
}


.center-logo {
  width: 347px;
  margin: 0 auto;
  margin-top: 30px;
}

.logo {
  top: 0;
  width: 332px;
  height: 196px;
  background-image: url(image-path('../assets/logo.png'));
  animation-duration: 1.25s !important;
  -webkit-animation-duration: 1.25s !important
}

.center-ticket {
  width: 210px;
  margin: 0 auto;
}

.ticket {
  position: absolute;
  width: 212px;
  top: 0;
  margin: 0 auto;
  margin-top: 460px;
  animation-duration: 2s !important;
  -webkit-animation-duration: 2s !important
}

.content {
  width: 100%;
  height: 800px;
  margin: 0;
  top: 0px;
  z-index: 2;
  position: relative;
}

section.intro {
  width: 100%;
  height: 600px;
  display: block;
  background-color: #000785;
  z-index: 2;
  margin: 0;
  margin-top: -2px;
  overflow: hidden;
  margin-top: 168px;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.intro-text {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
}

.intro-pg {
  text-align: center;
  margin-top: -14px;
}

.intro-text h1, .intro-text h3 {
  text-align: center;
}

.video {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  margin-top: -280px;
  background: #3C4C51;
  border-radius: 8px;
  position: relative;
}

.video iframe {
  height: 400px;
}

// Details
section.details {
  width: 100%;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  margin-top:-120px;
  height: 700px;
}

section.details h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 270px;
  margin-bottom: 30px;
}

section.details .wrapper {
  width: 1024px;
  margin: 0 auto;
  margin-top: 80px;
}

section.details .detail {
  width: 260px;
  float: left;
  margin-left: 11%;
  text-align: center;
}

section.details .detail h4 {
  font-size: 16px;
  color: #4B5254;
  letter-spacing: 0.23px;
}

section.details .detail p {
  font-size: 14px;
  margin-top: -14px;
}

section.details .detail:first-of-type {
  margin-left: 0;
}

section.details .detail-image {
  margin: 0 auto;
  margin-bottom: 21px;
}

.detail-image-one {
  background-image: url(image-path('../assets/detail-image-one.svg'));
  width: 40px;
  height: 41px;
}

.detail-image-two {
  background-image: url(image-path('../assets/detail-image-two.svg'));
  width: 34px;
  height: 44px;
}

.detail-image-three {
  background-image: url(image-path('../assets/detail-image-three.svg'));
  width: 60px;
  height: 42px;
}



// The the-team
section.the-team {
  width: 100%;
  display: block;
  background-color: #FFFAF6;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  height: 800px;
}

section.the-team h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 75px;
}

section.the-team .wrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

section.the-team .team-member-cont {
  width: 150px;
  height: 150px;
  float:left;
}

section.the-team .team-member {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 21px;
  float: left;
  margin-left: 9%;
  margin-bottom: 9%;
}

section.the-team .team-member h5 {
  margin-top: 110px;
  text-align: center;
  font-size: 14px;
}

section.the-team .team-member:first-of-type {
  margin-left: 0;
}

section.the-team .team-member:nth-child(7) {
  margin-left: 0;
}

.sam {
  background-image: url(image-path('../assets/sam.png'));
}

.sarah {
  background-image: url(image-path('../assets/sarah.png'));
}

.emilee {
  background-image: url(image-path('../assets/emilee.png'));
}

.gus {
  background-image: url(image-path('../assets/gus.png'));
}

.liz {
  background-image: url(image-path('../assets/liz.png'));
}

.jonnie {
  background-image: url(image-path('../assets/jonnie.png'));
}

.elvis {
  background-image: url(image-path('../assets/elvis.png'));
}

.billy {
  background-image: url(image-path('../assets/billy.png'));
}


// History

section.history {
  width: 100%;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  height: 800px;
}

section.history .wrapper {
  width: 943px;
  margin: 0 auto;
  margin-top: 170px;
}

.photo-pos-1 {
  width: 250px;
  height: 444px;
  float: left;
  border-radius: 4px;
  background-image: url(image-path('../assets/history-1.png'));
}

.photo-pos-2 {
  width: 449px;
  height: 215px;
  float: left;
  margin-left:14px;
  border-radius: 4px;
  background-image: url(image-path('../assets/history-2.png'));
}
.photo-pos-3 {
  height: 215px;
  width: 215px;
  float: left;
  margin-left: 14px;
  border-radius: 4px;
  background-image: url(image-path('../assets/history-3.png'));
}

.photo-pos-4 {
  width: 215px;
  height: 215px;
  float: left;
  margin-left: 14px;
  margin-top: 14px;
  border-radius: 4px;
  background-image: url(image-path('../assets/history-4.png'));
}

.photo-pos-5 {
  width: 449px;
  height: 215px;
  float: left;
  margin-left: 14px;
  margin-top: 14px;
  border-radius: 4px;
  background-image: url(image-path('../assets/history-5.png'));
}



// Tickets

section.tickets {
  width: 100%;
  height: 880px;
  display: block;
  background-color: #FFFAF6;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
}

section.tickets .wrapper {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

section.tickets .wrapper .heading {
  width: 91px;
  margin: 0 auto;
  margin-bottom: 80px;
}

section.tickets .wrapper .ticket-types {
  width: 710px;
  margin: 0 auto;
}

section.tickets .wrapper .ticket-types .earlybird, section.tickets .wrapper .ticket-types .full-time  {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  border-radius: 8px;
  height: 303px;
  width: 307px;
  float: left;
  margin-left: 40px;
}

section.tickets .wrapper .ticket-types .earlybird {
  margin-left: 28px;
}

#tickets > div > div.ticket-types > div > ul > li > a > button {
  -webkit-appearance: none;
}

#tickets > .wrapper > .ticket-types > div > ul.course-nav-list {
  margin-bottom: 30px;
}

section.tickets .wrapper .ticket-types div h6,
section.tickets .wrapper .ticket-types div h1 {
  text-align: center;
  color: #56667C;
}

section.tickets .wrapper .ticket-types h6 {
  padding-top: 33px
}

section.tickets .wrapper .ticket-types h1 {
  margin-top: -14px
}

section.tickets .wrapper .ticket-types ul {
  width: 145px;
  margin: 0 auto;
  margin-top: -14px;
  padding: 0;
  margin-bottom: 20px;
}

section.tickets .wrapper .ticket-types ul li {
  font-size: 14px;
  color: #56667c;
  letter-spacing: .46px;
  line-height: 19.6px;
}

.btn-center {
  width: 150px;
  margin: 0 auto;
}

.detailed-syllabus {
  z-index: 2;
  position: relative;
  margin-top: 2620px;
  width: 100%;
}

.wrapper-inside {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #e5e6e7;
}

.field {
  width: 411px;
  margin: 0 auto;
  margin-top: 14px;
}

.actions {
  width: 119px;
  margin: 0 auto;
  margin-top: 20px;
}

label {
  float: left;
  display: block;
  margin-bottom: 7px;
}

input {
  padding: 8px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #e3e5e6;
  display: block;
  width: 393px;
}

select {
  margin-left: 7px;
}


.ticket-types .day-pass ul.course-nav-list li:nth-child(1) {
  display: block;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(3) {
  display: none;
}



.ticket-types .multi-day ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(3) {
  display: block;
}


.ticket-types .all-inclusive ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(2) {
  display: block;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(3) {
  display: none;
}


section.footer {
  width: 100%;
  height: 77px;
  background-color: #3C4C51;
  overflow: hidden;
}

section.footer .wrapper {
  width: 101px;
  margin-top: 30px;
}

#copyright {
  float: left;
  display:inline;
  margin-right:5px;
  font-family: circular-300;
  font-size: 12px;
  color: #C4C9CB;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.ahoy-footer {
  width: 49px;
  height: 15px;
  background-image: url(image-path('http://23ahoy.com/24/images/footer-ahoy.svg'));
  float:left;
  display:inline;
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .logo {
    background-image: url(image-path('../assets/logo@2x.png'));
    background-size: 332px 196px;
  }

  section.the-team .team-member {
    background-size: 100px 100px;
  }
  .sam {
    background-image: url(image-path('../assets/sam@2x.png'));

  }

  .sarah {
    background-image: url(image-path('../assets/sarah@2x.png'));
  }

  .emilee {
    background-image: url(image-path('../assets/emilee@2x.png'));
  }

  .gus {
    background-image: url(image-path('../assets/gus@2x.png'));
  }

  .liz {
    background-image: url(image-path('../assets/liz@2x.png'));
  }

  .jonnie {
    background-image: url(image-path('../assets/jonnie@2x.png'));
  }

  .elvis {
    background-image: url(image-path('../assets/elvis@2x.png'));
  }

  .billy {
    background-image: url(image-path('../assets/billy@2x.png'));
  }



  .photo-pos-1 {
    background-image: url(image-path('../assets/history-1@2x.png'));
    background-size: 250px 444px;
  }

  .photo-pos-2 {
    background-image: url(image-path('../assets/history-2@2x.png'));
    background-size: 449px 215px;
  }
  .photo-pos-3 {
    background-image: url(image-path('../assets/history-3@2x.png'));
    background-size: 215px 215px;
  }

  .photo-pos-4 {
    background-image: url(image-path('../assets/history-4@2x.png'));
    background-size: 215px 215px;
  }

  .photo-pos-5 {
    background-image: url(image-path('../assets/history-5@2x.png'));
    background-size: 449px 215px;
  }
}


@media only screen and (max-width: 1023px) {
.inner-wrapper {
  width: 100%;
}

.dolphin {
  margin-right: 50px;
}

.wrapper {
  width: 100%;
}

section.details {
  height: auto;
}

section.details .wrapper {
  width: 100%;
}

section.details .detail, section.details .detail:first-of-type {
  float: initial;
  margin: 0 auto;
  margin-bottom: 60px;
}

section.the-team .wrapper {
  width: 80%;
}

section.tickets .wrapper {
  width: 100%;
}

.detailed-syllabus {
  margin-top: 2910px;
}

}





@media only screen and (max-width: 781px) {
  section.the-team .team-member:first-of-type {
    margin-left: 9%;
    margin-bottom: 9%;
  }

  section.the-team .team-member:nth-child(7) {
    margin-left: 9%;
    margin-bottom: 9%;
  }
}




@media only screen and (max-width: 767px) {

  .inner-wrapper {
    height: 640px;
  }

  .cloud-1 {
    margin-top: 10px;
    transform: scale(0.5,0.5);
  }

  .cloud-2 {
    margin-top: -60px;
    transform: scale(0.5,0.5);
    margin-right: -50px;
  }

  .center-logo {
    margin-top: 110px;
  }

  .ticket{
    margin-top: 450px;
  }

  .dolphin {
    margin-top: 210px;
  }

  .intro-text {
    width: 80%;
    margin-top: 110px;
  }

  section.intro {
    height: 700px;
  }

  .video {
    width: 100%;
    background: none;
    margin-top: -330px;
  }

  .video iframe {
    height: 300px;
  }

  section.the-team {
    height: auto;
    padding-bottom: 50px;
  }

  section.the-team .wrapper {
    width: 77%;
    margin: 0 auto;
  }

  section.the-team .team-member-cont {
    display: block;
    width: 100%;
    height: 170px;
    float: initial;
    margin: 0 auto;
  }

  section.the-team .team-member, section.the-team .team-member:first-of-type, section.the-team .team-member:nth-child(7) {
    margin: 0 auto;
    display: block;
    float: initial;
  }

  section.the-team .team-member h5 {
    text-align: center;
    font-size: 14px;
    position: relative;
    display: block;
    float: left;
    margin-top: 110px;
    width: 100%;
  }

  section.tickets {
    height: auto;
    padding-bottom: 500px;
  }

  section.tickets .wrapper .ticket-types {
    width: 80%;
  }

  section.tickets .wrapper .ticket-types .earlybird, section.tickets .wrapper .ticket-types .full-time {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
  }

  .detailed-syllabus {
    width: 90%;
    margin:0 auto;
    margin-top: 4631px;
  }

  .detailed-syllabus .wrapper-inside {
    width: 90%;
  }

  .detailed-syllabus .wrapper-inside form {
    width: 100%;
  }

  .detailed-syllabus .wrapper-inside form .field {
    width: 100%;
  }

  .detailed-syllabus .wrapper-inside form .field input {
    width: 90%;
  }

  .center-logo {
    width: 100%;
  }

  .logo {
    background-image: url(image-path('../assets/logo@2x.png'));
    background-size: 266px 157px;
    width: 266px;
    height: 157px;
    margin: 0 auto;
  }

  section.history {
    height: auto;
  }
  section.history .wrapper {
    width: 100%;
  }

  .photo-pos-1, .photo-pos-2, .photo-pos-3, .photo-pos-4, .photo-pos-5 {
    width: 215px;
    height: 215px;
    float: initial;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .photo-pos-1 {
    display: none;
  }

  .photo-pos-5 {
    background-position-x: -220px;
  }

}
