/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'europa', arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: 'europa', arial, sans-serif;
}

h1 {
  font-family: Circular;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
}

h2 {
font-family: Circular;
font-size: 32px;
color: #4B5254;
letter-spacing: 0.47px;}

h3 {
  font-family: Circular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.23px;
}

h4 {
  font-family: Circular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.23px;
  font-weight: 300;
}

h5 {
  font-size: 10px;
  color: #3E4041;
  letter-spacing: .4px;
  font-family: 'europa-medium', arial, sans-serif;
  text-align: center;
  margin-top: -18px;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #3E4041;
  letter-spacing: .4px;
  font-family: 'europa-medium', arial, sans-serif;
}

p {
  font-size: 18px;
  color: #7F878A;
  font-weight: 300;
  line-height: 140%;
  margin-top: 5px;
}

a {
  font-size: 16px;
  text-decoration: none;
  // color: #fff;
}

.super-small {
  font-size: 38px;
  vertical-align: top;
}

.btn-ghost {
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'europa';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-image: linear-gradient(-180deg, #850065 0%, #7B005D 99%);
  border-radius: 60px;
}

.btn-ticket {
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'europa';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-image: linear-gradient(-180deg, #850065 0%, #7B005D 99%);
  border-radius: 60px;
  border: none;
}


.header {
  height: 630px;
}

.header svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  height: 600px;
  background-color: #F9F3ED;
}

.ocean {
  width: 100%;
  height: 37px;
}

.ocean-one {
  background-color: #31CFFF;
}

.ocean-two {
  background-color: #34A9FF;
}

.ocean-three {
  background-color: #006BFF;
}

.ocean-four {
  background-color: #003BF2;
}

.inner-wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 550px;

}

.cloud-1 {
  background-image: url(image-path('assets/cloud-1.svg'));
  width: 350px;
  height: 71px;
  margin-top: 100px;
}

.cloud-2 {
  background-image: url(image-path('assets/cloud-2.svg'));
  width: 398px;
  height: 180px;
  margin-top: 10px;
  float: right;
}


.center-logo {
  width: 347px;
  margin: 0 auto;
}

.logo {
  top: 0;
  width: 332px;
  height: 196px;
  background-image: url(image-path('assets/logo.png'));
  animation-duration: 1.25s !important;
  -webkit-animation-duration: 1.25s !important
}

.center-ticket {
  width: 210px;
  margin: 0 auto;
}

.ticket {
  position: absolute;
  width: 212px;
  top: 0;
  margin: 0 auto;
  margin-top: 430px;
  animation-duration: 2s !important;
  -webkit-animation-duration: 2s !important
}

.content {
  width: 100%;
  height: 800px;
  margin: 0;
  top: 0px;
  z-index: 2;
  position: relative;
}

section.intro {
  width: 100%;
  height: 600px;
  display: block;
  background-color: #000785;
  z-index: 2;
  margin: 0;
  margin-top: -2px;
  overflow: hidden;
  margin-top: 168px;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.intro-text {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
}

.intro-pg {
  text-align: center;
  margin-top: -14px;
}

.intro-text h1, .intro-text h3 {
  text-align: center;
}

.video {
  width: 700px;
  height: 400px;
  background-color: #CED7DA;
  margin: 0 auto;
  margin-top: -280px;
  background: #3C4C51;
  border-radius: 8px;
  position: relative;
}

// Details
section.details {
  width: 100%;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  margin-top:-120px;
  height: 700px;
}

section.details h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 270px;
  margin-bottom: 30px;
}

section.details .wrapper {
  width: 1024px;
  margin: 0 auto;
  margin-top: 80px;
}

section.details .detail {
  width: 300px;
  float: left;
  margin-left: 6%;
  text-align: center;
}

section.details .detail:first-of-type {
  margin-left: 0;
}

section.details .detail-image {
  width: 75px;
  height: 75px;
  background-color: #CED7DA;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 21px;
}



// The the-team
section.the-team {
  width: 100%;
  display: block;
  background-color: #FFFAF6;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  height: 800px;
}

section.the-team h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 75px;
}

section.the-team .wrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

section.the-team .team-member {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 21px;
  float: left;
  margin-left: 9%;
  margin-bottom: 9%;
}

section.the-team .team-member h5 {
  margin-top: 110px;
  text-align: center;
}

section.the-team .team-member:first-of-type {
  margin-left: 0;
}

section.the-team .team-member:nth-child(7) {
  margin-left: 0;
}

.sam {
  background-image: url(image-path('assets/sam.png'));
}

.sarah {
  background-image: url(image-path('assets/sarah.png'));
}

.emilee {
  background-image: url(image-path('assets/emilee.png'));
}

.gus {
  background-image: url(image-path('assets/gus.png'));
}

.liz {
  background-image: url(image-path('assets/liz.png'));
}

.jonnie {
  background-image: url(image-path('assets/jonnie.png'));
}

.elvis {
  background-image: url(image-path('assets/elvis.png'));
}

.billy {
  background-image: url(image-path('assets/billy.png'));
}


// Tickets

section.tickets {
  width: 100%;
  height: 880px;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
}

section.tickets .wrapper {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

section.tickets .wrapper .heading {
  width: 91px;
  margin: 0 auto;
  margin-bottom: 80px;
}

section.tickets .wrapper .ticket-types {
  width: 710px;
  margin: 0 auto;
}

section.tickets .wrapper .ticket-types .earlybird, section.tickets .wrapper .ticket-types .full-time  {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  border-radius: 8px;
  height: 303px;
  width: 307px;
  float: left;
  margin-left: 40px;
}

section.tickets .wrapper .ticket-types .earlybird {
  margin-left: 28px;
}

#tickets > div > div.ticket-types > div > ul > li > a > button {
  -webkit-appearance: none;
}

#tickets > div > div.ticket-types > div > ul {
  margin-bottom: 30px;
}

section.tickets .wrapper .ticket-types div h6,
section.tickets .wrapper .ticket-types div h1 {
  text-align: center;
  color: #56667C;
}

section.tickets .wrapper .ticket-types h6 {
  padding-top: 33px
}

section.tickets .wrapper .ticket-types h1 {
  margin-top: -14px
}

section.tickets .wrapper .ticket-types ul {
  width: 145px;
  margin: 0 auto;
  margin-top: -14px;
  padding: 0;
}

section.tickets .wrapper .ticket-types ul li {
  font-size: 14px;
  color: #56667c;
  letter-spacing: .46px;
  line-height: 19.6px;
}

.btn-center {
  width: 150px;
  margin: 0 auto;
}

.detailed-syllabus {
  z-index: 2;
  position: relative;
  margin-top: 1830px;
  width: 100%;
}

.wrapper-inside {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #e5e6e7;
}

.field {
  width: 411px;
  margin: 0 auto;
  margin-top: 14px;
}

.actions {
  width: 119px;
  margin: 0 auto;
  margin-top: 20px;
}

label {
  float: left;
  display: block;
  margin-bottom: 7px;
}

input {
  padding: 8px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #e3e5e6;
  display: block;
  width: 393px;
}

select {
  margin-left: 7px;
}


.ticket-types .day-pass ul.course-nav-list li:nth-child(1) {
  display: block;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(3) {
  display: none;
}



.ticket-types .multi-day ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(3) {
  display: block;
}


.ticket-types .all-inclusive ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(2) {
  display: block;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(3) {
  display: none;
}


section.footer {
  width: 100%;
  height: 77px;
  background-color: #3C4C51;
  overflow: hidden;
}

section.footer .wrapper {
  width: 101px;
  margin-top: 30px;
}

#copyright {
  float: left;
  display:inline;
  margin-right:5px;
  font-family: europa;
  font-size: 12px;
  color: #C4C9CB;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.ahoy-footer {
  width: 49px;
  height: 15px;
  background-image: url(image-path('http://23ahoy.com/24/images/footer-ahoy.svg'));
  float:left;
  display:inline;
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .logo {
    background-image: url(image-path('assets/logo@2x.png'));
    background-size: 332px 196px;
  }

  section.the-team .team-member {
    background-size: 100px 100px;
  }
  .sam {
    background-image: url(image-path('assets/sam@2x.png'));

  }

  .sarah {
    background-image: url(image-path('assets/sarah@2x.png'));
  }

  .emilee {
    background-image: url(image-path('assets/emilee@2x.png'));
  }

  .gus {
    background-image: url(image-path('assets/gus@2x.png'));
  }

  .liz {
    background-image: url(image-path('assets/liz@2x.png'));
  }

  .jonnie {
    background-image: url(image-path('assets/jonnie@2x.png'));
  }

  .elvis {
    background-image: url(image-path('assets/elvis@2x.png'));
  }

  .billy {
    background-image: url(image-path('assets/billy@2x.png'));
  }
}
