/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'europa', arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: 'europa', arial, sans-serif;
}

h1 {
  font-family: Circular-Medium;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
}

h3 {
  font-family: Circular-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.23px;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #3E4041;
  letter-spacing: .4px;
  font-family: 'europa-medium', arial, sans-serif;
}

p {
  font-size: 18px;
  color: #7F878A;
  font-weight: 300;
  line-height: 140%;
  margin-top: 5px;
}

a {
  font-size: 16px;
  text-decoration: none;
  // color: #fff;
}

.super-small {
  font-size: 38px;
  vertical-align: top;
}

.btn-ghost {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'europa';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-color: none;
}

.btn-ticket {
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: 'europa';
  font-size: 12px;
  color: #fff;
  letter-spacing: .46px;
  background-image: linear-gradient(-180deg, #1490D0 1%, #0E84C1 98%);
  border: 1px solid #036BA1;
  box-shadow: inset 0px 2px 0px 0px #209FE1;
  border-radius: 100px;
}


.header {
  height: 630px;
}

.header svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  height: 600px;
  background-color: #F9F3ED;
}

.ocean {
  width: 100%;
  height: 37px;
}

.ocean-one {
  background-color: #31CFFF;
}

.ocean-two {
  background-color: #34A9FF;
}

.ocean-three {
  background-color: #006BFF;
}

.ocean-four {
  background-color: #003BF2;
}

.inner-wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 600px;

}

.cloud-1 {
  background-image: url(image-path('cloud-1.svg'));
  width: 350px;
  height: 71px;
  margin-top: 100px;
}

.cloud-2 {
  background-image: url(image-path('cloud-2.svg'));
  width: 398px;
  height: 180px;
  margin-top: 10px;
  float: right;
}


.center-logo {
  width: 347px;
  margin: 0 auto;
}

.logo {
  top: 0;
  width: 320px;
  height: 145px;
  background-image: url(image-path('lockup.svg'));
  animation-duration: 1.25s !important;
  -webkit-animation-duration: 1.25s !important
}

.center-ticket {
  width: 210px;
  margin: 0 auto;
}

.ticket {
  position: absolute;
  width: 212px;
  top: 0;
  margin: 0 auto;
  margin-top: 360px;
  animation-duration: 2s !important;
  -webkit-animation-duration: 2s !important
}

.content {
  width: 100%;
  height: 800px;
  margin: 0;
  top: 0px;
  z-index: 2;
  position: relative;
}

section.intro {
  width: 100%;
  height: 500px;
  display: block;
  background-color: #000785;
  z-index: 2;
  margin: 0;
  margin-top: -2px;
  overflow: hidden;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.intro-text {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
}

.intro-text h3 {text-align: center;}

.video {
  width: 449px;
  height: 250px;
  background-color: red;
  margin: 0 auto;
  margin-top: -190px;
  background: #3C4C51;
  border-radius: 8px;
  position: relative;
}

// Details
section.details {
  width: 100%;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  margin-top:-60px;
  height: 700px;
}

section.details h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

section.details .wrapper {
  width: 1024px;
  margin: 0 auto;
  margin-top: 80px;
}

section.details .detail {
  width: 300px;
  float: left;
  margin-left: 6%;
  text-align: center;
}

section.details .detail:first-of-type {
  margin-left: 0;
}

section.details .detail-image {
  width: 75px;
  height: 75px;
  background-color: red;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 21px;
}



// The the-team
section.the-team {
  width: 100%;
  display: block;
  background-color: #FFFAF6;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
  height: 800px;
}

section.the-team h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 75px;
}

section.the-team .wrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

section.the-team .team-member {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 21px;
  float: left;
  margin-left: 9%;
  margin-bottom: 9%;
}

section.the-team .team-member:first-of-type {
  margin-left: 0;
}

section.the-team .team-member:nth-child(7) {
  margin-left: 0;
}

.sam {
  background-image: url(image-path('sam.png'));
}

.sarah {
  background-image: url(image-path('sarah.png'));
}

.emilee {
  background-image: url(image-path('emilee.png'));
}

.gus {
  background-image: url(image-path('gus.png'));
}

.liz {
  background-image: url(image-path('liz.png'));
}

.jonnie {
  background-image: url(image-path('jonnie.png'));
}

.elvis {
  background-image: url(image-path('elvis.png'));
}

.billy {
  background-image: url(image-path('billy.png'));
}


// Tickets

section.tickets {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cad7dc, 0 -1px 4px 0 #cad7dc;
  overflow: hidden;
}

section.tickets .wrapper {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

section.tickets .wrapper .heading {
  width: 91px;
  margin: 0 auto;
  margin-bottom: 80px;
}

section.tickets .wrapper .ticket-types {
  width: 710px;
  margin: 0 auto;
}

section.tickets .wrapper .ticket-types .all-inclusive {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  border-radius: 8px;
  height: 303px;
  width: 307px;
  float: left;
  margin-left: -500px;
}

#tickets > div > div.ticket-types > div.all-inclusive > ul > li > a > button,
#tickets > div > div.ticket-types > div.day-pass > ul > li > a > button,
#tickets > div > div.ticket-types > div.multi-day > ul > li > a > button {
  -webkit-appearance: none;
}

section.tickets .wrapper .ticket-types .all-inclusive h6,
section.tickets .wrapper .ticket-types .all-inclusive h1 {
  text-align: center
}

section.tickets .wrapper .ticket-types .all-inclusive h6 {
  padding-top: 33px
}

section.tickets .wrapper .ticket-types .all-inclusive h1 {
  margin-top: -14px
}

section.tickets .wrapper .ticket-types .all-inclusive ul,
section.tickets .wrapper .ticket-types .day-pass ul,
section.tickets .wrapper .ticket-types .multi-day ul {
  width: 145px;
  margin: 0 auto;
  margin-top: -14px;
  padding: 0;
}

section.tickets .wrapper .ticket-types .all-inclusive ul li {
  font-size: 14px;
  color: #56667c;
  letter-spacing: .46px;
  line-height: 19.6px;
}

section.tickets .wrapper .ticket-types .day-pass {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  border-radius: 8px;
  height: 260px;
  width: 235px;
  margin-right: -21px;
  margin-top: 20px;
  float: left;
}

section.tickets .wrapper .ticket-types .day-pass h6, h1 {
  text-align: center;
}

.content section.tickets .wrapper .ticket-types .day-pass h6 {
  padding-top: 33px;
}

.content section.tickets .wrapper .ticket-types .day-pass h1 {
  margin-top: -14px;
}

.content section.tickets .wrapper .ticket-types .day-pass ul {
  width: 145px;
  margin: 0 auto;
  margin-top: -34px;
}

.content section.tickets .wrapper .ticket-types .day-pass ul li {
  font-size: 14px;
  color: #56667c;
  letter-spacing: .46px;
  line-height: 19.6px;
}

.content section.tickets .wrapper .ticket-types .multi-day {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  border-radius: 8px;
  height: 260px;
  width: 235px;
  margin-right: -21px;
  margin-top: 20px;
  float: left;
  margin-left: 280px;
}

.content section.tickets .wrapper .ticket-types .multi-day h6, h1 {
  text-align: center;
}

.content section.tickets .wrapper .ticket-types .multi-day h6 {
  padding-top: 33px;
}

.content section.tickets .wrapper .ticket-types .multi-day h1 {
  margin-top: -14px;
}

.content section.tickets .wrapper .ticket-types .multi-day ul {
  width: 145px;
  margin: 0 auto;
  margin-top: -34px;
}

.content section.tickets .wrapper .ticket-types .multi-day ul li {
  font-size: 14px;
  color: #56667c;
  letter-spacing: .46px;
  line-height: 19.6px;
}

.detailed-syllabus {
  z-index: 2;
  position: relative;
  margin-top: 1330px;
  width: 100%;
}

.wrapper-inside {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #e5e6e7;
}

.field {
  width: 411px;
  margin: 0 auto;
  margin-top: 14px;
}

.actions {
  width: 119px;
  margin: 0 auto;
  margin-top: 20px;
}

label {
  float: left;
  display: block;
  margin-bottom: 7px;
}

input {
  padding: 8px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #e3e5e6;
  display: block;
  width: 393px;
}

select {
  margin-left: 7px;
}


.ticket-types .day-pass ul.course-nav-list li:nth-child(1) {
  display: block;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .day-pass ul.course-nav-list li:nth-child(3) {
  display: none;
}



.ticket-types .multi-day ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(2) {
  display: none;
}

.ticket-types .multi-day ul.course-nav-list li:nth-child(3) {
  display: block;
}


.ticket-types .all-inclusive ul.course-nav-list li:nth-child(1) {
  display: none;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(2) {
  display: block;
}

.ticket-types .all-inclusive ul.course-nav-list li:nth-child(3) {
  display: none;
}


section.footer {
  width: 100%;
  height: 77px;
  background-color: #3C4C51;
  overflow: hidden;
}

section.footer .wrapper {
  width: 101px;
  margin-top: 30px;
}

#copyright {
  float: left;
  display:inline;
  margin-right:5px;
  font-family: europa;
  font-size: 12px;
  color: #C4C9CB;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.ahoy-footer {
  width: 49px;
  height: 15px;
  background-image: url(image-path('http://23ahoy.com/24/images/footer-ahoy.svg'));
  float:left;
  display:inline;
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  section.the-team .team-member {
    background-size: 100px 100px;
  }
  .sam {
    background-image: url(image-path('sam@2x.png'));

  }

  .sarah {
    background-image: url(image-path('sarah@2x.png'));
  }

  .emilee {
    background-image: url(image-path('emilee@2x.png'));
  }

  .gus {
    background-image: url(image-path('gus@2x.png'));
  }

  .liz {
    background-image: url(image-path('liz@2x.png'));
  }

  .jonnie {
    background-image: url(image-path('jonnie@2x.png'));
  }

  .elvis {
    background-image: url(image-path('elvis@2x.png'));
  }

  .billy {
    background-image: url(image-path('billy@2x.png'));
  }
}
