@font-face {
    font-family: 'Circular-book';
    src: url("../fonts/lineto-circular-book.ttf");
}

@font-face {
    font-family: 'Circular-medium';
    src: url("../fonts/lineto-circular-medium.ttf");
}
