@font-face {
    font-family: 'Circular-book';
    src: asset-url('http://23ahoy.com/24/fonts/lineto-circular-book.ttf');
}

@font-face {
    font-family: 'Circular-medium';
    src: asset-url('http://23ahoy.com/24/fonts/lineto-circular-medium.ttf');
}
