!!!
%html
%head
  %link{:href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %title AHOY | The Adventure of the Year
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
  %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
  %body
    %section.content.clearfix
      %section.curriculum
        = render partial: "courses/index"
        = yield
